@import "tailwindcss";
body{
    background-color: hsl(217, 21%, 27%);
}
.navShadow{
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}

.icon{
    background-image: linear-gradient(to right, #b8cbb8 0%, #b8cbb8 0%, #b465da 0%, #cf6cc9 33%, #ee609c 66%, #ee609c 100%);
}

.fadeUp {
    opacity: 0;
    transform: translateY(60px);
    transition: all 0.6s ease;
}

.show{
    opacity: 1;
    transform: translateY(0px);
    transition: all 0.6s ease;
}